/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#dropzone {
  border: 1px solid black;
  height: 300px;
  width: 100%;
}
